/* Add this to your styles.css */
@keyframes slideInFromRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .slide-in-right {
    animation: 0.5s ease-out 0s 1 slideInFromRight;
  }

@keyframes slideInFromLeft {

  0% {
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
  .slide-in-left {
    animation: 0.01s ease-out 0s 1 slideInFromLeft;
  }
  